<section class="card col-sm-6" ng-controller="DetailCtrl">
        <div class="row">
        <div class="col-sm-4">
            <img ng-src="{{book.image}}" alt="">
        </div>
        <div class="card-block col-sm-8">
            <h4 class="card-title">{{book.title}}</h4>
            <p class="card-subtitle text-muted">{{book.author}}</p>
            <p class="card-text">{{book.description}}</p>
            <p class="card-text">{{book.date}}</p>
            <p class="card-text">{{book.publisher}}</p>
            <div class="row">
                <a href="#" class="btn btn-success col-sm-4 offset-3">Previous</a>
                <a href="#" class="btn btn-secondary col-sm-4 offset-1">Next</a>
            </div>
        </div>
    </div>
</section>